name: Build and Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build Docker Image
        run: docker build -t iiif-builder .

      - name: Run Build
        # Use repository name to construct base URL for GitHub Pages
        # Set PYTHONPATH to include the current directory so python can find the manifests package
        run: |
          docker run --rm \
          -v ${{ github.workspace }}:/app \
          -e PYTHONPATH=/app \
          iiif-builder \
          uv run scripts/build.py --url "https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}"

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: '_site'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
